@import 'frames.css';

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    background: rgb(251, 251, 251);
    color: rgb(68, 68, 68);
    font: 16px/24px "Varela Round", Consolas, monospace;
    text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

a {
    text-decoration: none;
}


#uc a {
    height: 36px;
    position: absolute;
    left: 50%;
    top: 25%;
    display: block;
    margin: -135px 0 0 -320px;
}

#wrench {
    -webkit-animation: uc 2s infinite;
    -moz-animation: uc 2s infinite;
    -ms-animation: uc 2s infinite;
    -o-animation: uc 2s infinite;
    animation: uc 2s infinite;
}

#uc a span {
    display: none;
}

ul {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 21%;
    width: 500px;
    margin-left: -280px;
}

#social {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 30%;
    width: 500px;
    margin-left: -280px;
    -webkit-animation: fade 14s 1;
    -moz-animation: fade 14s 1;
    -ms-animation: fade 14s 1;
    -o-animation: fade 14s 1;
    animation: fade 14s 1;
}

#social a {
    margin: 0 3px;
}

#social a:hover {
    opacity : 0.8;
    transition-property : opacity;
    transition-duration : 0.8s;
}

.type {
    background: #ccc;
    position: relative;
    display: inline-block;
    width: 8px;
    text-indent: -999em;
    -webkit-animation: flick 1s infinite;
    -moz-animation: flick 1s infinite;
    -ms-animation: flick 1s infinite;
    -o-animation: flick 1s infinite;
    animation: flick 1s infinite;
}

@media (max-width: 550px) {
    body {
        font-size: 15px;
    }
    #uc a {
        width: 80%;
        left: 10%;
        top: 7.5%;

        margin: 0;
        height: 36px;

        text-decoration: none;
    }
    #uc a span {
        display: inline-block;
        float: right;
        color: #000;
    }
    ul {
        width: 80%;
        margin-left: -40%;
    }

    #social {
        width: 80%;
        margin-top: 20px;
        margin-left: -40%;
    }
}
